:root {
  --green: #6bb937;
  --Lgray: #f0efef;
  --Dbrown: #4c3433;
  --Lbrown: #936142;

  --white: #ffffff;
}
.maindivcart{    /* height: 327px; */
width: 58%;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-content: center;
align-items: center;
/* margin-top: 8%; */
/* margin: 68px; */}


#contener {
  background-color: var(--Lgray);
  /* border: 1px solid rgb(19, 207, 76); */
  padding: 2% 0 0px 0;
  position: relative;
}
#iner-contener {
}

#cart {
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid rgb(19, 207, 76); */
  background-color: var(--white);
  margin: 5% 5% 5% 5%;
  border-radius: 5px;
  box-shadow: 0 2px 12px 5px var(--Dbrown);
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}

#right {
  width: 34%;
  margin: 0% 0px 0px 24px;
  
    /* width: 40%; */

  /* min-height: 250px; */
 
}

.myFormmCart{
  width: 101%;
    display: flex;
    border: 1px solid var(--Lgray);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    /* float: left; */
    justify-content: space-around;
    text-align: center;
    /* position: relative; */
    /* left: 194px; */
    top: 94px;
    border: 1px solid var(--green);
    box-shadow: 0 0 30px var(--Dbrown);
    border-radius: 26px;
    /* font-family: cursive; */
    /* margin-left: 31px; */
    position: relative;
    height: 300px;
    flex-direction: column;
    flex-wrap: nowrap;


}

.formtoinfo{
  width:20%;
}

/* ////////////////////////////// */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fangsong;
} */
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: black;
} */

.FormGroup {
}
.InputGroup {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
 
  
}
#GoBtn {
}

#h2 {
  padding: 1.5% 0 -0.5% 0;
  position: relative;
  font-size: 190%;
  letter-spacing: 20px;
  color: var(--Dbrowns);
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below -24px linear-gradient(transparent, #ffffff57);
  line-height: 75%;
  outline: none;
  animation: animate 5s linear infinite alternate-reverse;
  padding: 0 0 1% 0;
}
@keyframes animate {
  0% {
    color: #d6bb9f;
    text-shadow: none;
  }
  50% {
    text-shadow: 0 0 5px white, 0 0 20px white, 0 0 40px white, 0 0 80px white,
      0 0 160px white;
  }
  100% {
    text-shadow: 0 0 5px white, 0 0 20px var(--green), 0 0 40px var(--green),
      0 0 80px var(--green), 0 0 160px var(--green);
  }
}

#petsIMG {
  width: 33%;
  z-index: 1;
  position: absolute;
  top: 0.3%;
  left: 5%;
}

/* ///////////////////////// list /////////////////////////////////// */

#left {
  overflow:scroll;
  position: relative;
  width: 47%;
  /* border: 1px solid red; */
  min-height: 300px;
  margin: 4% 0 2% 0;
  overflow-y: auto;
  top: 40px;

}

#imgLIst {
  width: 75px;
  object-fit: cover;
  border-radius: 5px;
}

.prodectContener {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  height: 90px;

  margin: 0px 5px 0 0;
  background-color: var(--Lgray);
  /* border: gray 1px solid; */
  border-radius: 10px;
}
#paragrafs {
}
#buttons {
  display: flex;
}

.plus {
  /* background-color: var(--Lbrown); */
}
.mainac {
  /* background-color: var(--Lbrown); */
}
.buttonss {
  border: 1px solid hotpink;
  border-radius: 20%;
  border: 0;
  /* background-color: gray; */
}

#total {
  color: var(--Dbrown) s;
  font-weight: bold;
  display: inline-block;
  padding: 1%;
  background-color: #65ac36;
  border-radius: 8px;
}
/* 
::-webkit-scrollbar {
  width: 10px;
} */
.imgandp{
  max-width: 563px;
}

.btncart{
  padding:30px;
  background: unset;
  background-color: none;
  background-color: Transparent;
}
.cartshap{
  text-decoration: none;
  color: #65ac36;
  font-weight: bold;
  
}

