.myFormm{
    position: relative;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-radius: 5px;
    border: 1px solid var(--green);
    box-shadow: 0 0 9px #4c3433;
    width: 25%;}

    .Appointmentinput{
width: 50%;
     
    }