.myFormmappproduct{
    width:70%;
    border: 1px solid var(--Lgray);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    /* float: left; */
    /* justify-content: center; */
    text-align: center;
    /* position: relative; */
    /* left: 194px; */
    border: 1px solid var(--green);
    box-shadow: 0 0 30px var(--Dbrown) ;
    border-radius: 26px;
    /* font-family: cursive; */
    
}
.maindivproduct{
   
    width: 76%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 9%;
    margin-left: 183px;



}
.maindivappprouct{
    width: 73%;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-content: center;
align-items: center;
margin-left: 12%;


}

#apph3{
    font-weight: bold;
    color: var(--green);
}
.productinput{
    margin-top: 5%;
    /* height: 600px; */
    overflow-y: auto;
    margin-bottom: 5%;
}
.brtprodduct{
color: #fff;
background-color: var(--green);
border-color: var(--green);
margin-top: 2%;
padding: 14px 0;
width:29%}