:root {
  --green: #6BB937;
  --Lgray: #F0EFEF;
  --Dbrown: #4C3433;
  --Lbrown: #936142;
  --white: #FFFFFF;
}


.ToDoList {
  margin-left: 10%;
  margin-right: 10%;
}

.Title {
  background-color: aquamarine;
  color: black;
  padding: 2.58%;
}
/* body {
  /* overflow-y: hidden; 
  min-height: 500px;
} */
