form {
    position: sticky;
    max-width: 500px;
    width: 100%;
    margin-top: 2%;
    bottom: 0;
  }
  
  #inputButton {
    width: 20%;
    float: right;
    
  }
  #inputText{
    width: 70%;
    
  }