.all {
  width: 100%;
  min-height: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  /* align-items: flex-start; */
  /* justify-content: center; */
}

.cardProfile {
  border-style: solid;
  border-width: 3px;
  border-color: var(--green);
  width: 84%;
  min-height:100px;
  /* background-color: var(--Dbrown); */
  color: var(--Lgray);
  margin-top: 13.5%;
}

/* .imgandname {
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
} */

.imgandname {
  height: 300px;
  /* display: flex; */
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  display: block;
  width: 40%;
}
.cardimg {
  width: 197px;
  height: 190px;
  border-style: solid;
  border-width: 3px;
  border-color: var(--green) var(--green) var(--green) var(--Dbrown);
  border-radius: 120px;
  position: relative;
  left: 67px;
  top: 22px;
}

.titlename {
  text-shadow: -1px 1px var(--Dbrown);
  color: var(--green);
  position: relative;
  top: 32px;
  left: 125px;
}
/* .title {
  position: relative;
  bottom: -6%;
  left: 37%;
  font-size: 25px;
  margin: 0px 0px 2.5% 5%;
} */



.infoContener {
  width: 49%;
  height: 20%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
  position: relative;
  left: -11px;
  top: -16px;
  max-width: 320px;
}


.info {
  /* position: relative;
  top: 16%;
  left: 36%;
  bottom: 4%;
  font-size: 18px; */
  text-shadow: -1px 1px var(--Dbrown);
  color: var(--green);
}
/* /// tow side */
.bookandanimale {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 74%;
  position: relative;
  left: 305px;
  top: -362px;
}

.bookingListTilt {
  /* width: 751px; */
  width: 40%;
  
  
}

#bookingTitle {
  width: 100%;
  text-align: center;
  font-size: 22px;
  font-weight: bolder;
  border-radius: 5px;
  text-shadow: -1px 1px var(--Dbrown);
  color: var(--green);
  margin-bottom: 13px;
}

.petData{
background-color:white;
width: 40%;
}

#petTitle {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
  text-shadow: -1px 1px var(--Dbrown);
  color: var(--green);
  border-radius: 5px;
  margin-bottom: 13px;
}

.boxbooking{
  border-radius: 19px;
  margin-bottom: 3px;
  box-shadow: 0 0 30px #4c3433;
  
}
.adoptPet{
  border-radius: 19px;
  margin-bottom: 3px;
  box-shadow: 0 0 30px #4c3433;
}

.btnpetsData {
  color: #fff;
  background-color: var(--green);
  border-color: var(--green);
  margin-top: 5%;
  margin-left: 10%;
  position: relative;
  left: 36px;
  margin-bottom: 4px;
  top: -5px;
}

.btnboking {
  color: #fff;
  background-color: transparent;
  margin-top: 5%;
  margin-left: 4%;
  position: relative;
  left: 260px;
  top: -87px;
  padding-left: 8px;
  padding-right: 8px;
  justify-content: center;
}

/* .btnpets:hover {
color: #fff;
background-color: var(--green);;
border-color: var(--green);
} */

#profileIMG {
  width: 33%;
  z-index: 1;
  position: absolute;
  top: -2.3%;
  left: 59%;
}
/* .card-body {
  flex: 1 1 auto;
  margin: 2% 50% 1% 0%;
}

.list-group-item {
  width: 50%;
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  color: var(--Dbrown);
  text-decoration: none;
  background-color: #f0efeffc;
  border: 0.5px solid rgba(0, 0, 0, 0.125);
  text-align: center;
}
#bookingTitle {
  width: 50%;
  text-align: center;
  margin: 0 0 1.5% 2%;
  font-size: 18px;
  font-weight: bolder;
  color: var(--Lbrown);
  border: 0.5px solid var(--Lbrown);
  border-radius: 5px;
 
}

#booking {
  margin-left: 2%;
}
#bookingListTilt {
  margin: 0 0 5% 0;
}
.petData{
  margin:2%;
  
}
#petTitle{
  width: 50%;
  text-align: center;
  margin: 0 0 1.5% 0;
  font-size: 18px;
  font-weight: bolder;
  color: var(--Lbrown);
  border: 0.5px solid var(--Lbrown);
  border-radius: 5px;
}  */

/* /////////////////////////////////////////////////////////////////////////////////////// */



/* .cardProfile {
  border-style: solid;
  border-width: 3px;
  border-color: var(--green);
  width: 54rem;
  height: 22rem;

  color:var(--Dbrown);
  position: relative;
  left: 8%;
  top:50%;
  border: 1px solid var(--green);
  box-shadow: 7px 0px 29px 2px #4c3433;
  margin-top: 7%;
}

.infoContener {
  
  position: relative;
  left: 13%;
  justify-content: center;
  width: 71%;
}
.cardName {
  width: 21%;
  height: 38%;
  border-style: solid;
  border-width: 3px;
  border-color: var(--green) var(--green) var(--green) #4c3433;
  border-radius: 43px;
  position: relative;
  top: 4%;
  left: 39%;
  display: block;
}

.titlename {

  width: 25%;
  position: relative;
  top: 6%;
  left: 43%;
    text-shadow: 2px 1px var(--Dbrown);
  color: var(--green);

}

.info {
  position: relative;
  top: -5%;
  left: 2%;
  bottom: 4%;
  font-size: 21px;
  justify-content: center;
  text-align: center;
}
.bookingListTilt{
  
}


.yourbookingdiv {

  position: relative;
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  border-radius: -11%;
  text-shadow: var(--Dbrown);
  color: var(--green);
}
.boxbooking{
  background-color: var(--green);
}

#bookingListTilt {
  margin: 0 0 5% 0;
} */